@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@500&family=Roboto&family=Roboto+Condensed&display=swap');
body {
  font-family: 'Quicksand', sans-serif;
}

/* Container */
.container {
  width: 82%;
  margin: 0 auto;
}

.container__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Jumbotron */
.jumbotron {
  background-image: linear-gradient(rgba(12, 12, 12, 0.7), rgba(12, 12, 12, 0.7)), url('../src/utils/jumbotron.jpg');
  background-size: cover;
  height: 89vh;
  padding-top: 14rem;
}

.jumbotron h2 {
  font-size: 100px;
}

.content {
  height: 100vh;
  margin-top: 2.5rem;
}

.card-detail-app {
  margin: 100px auto;
}

.card-detail {
  height: 100%;
}

.img-detail {
  display: block;
}

.detail {
  margin-top: 8rem;
}

@media screen and (max-width: 1024px) {
  .card-detail {
    height: 100%;
  }
}